<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Pod List
      </mat-panel-title>
    </mat-expansion-panel-header>    
    <div *ngFor="let pod of pods">
      <a (click)=podlink(pod.pod_id)>{{pod.pod_name}}</a>
    </div>
    
  </mat-expansion-panel>  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customers
      </mat-panel-title>
    </mat-expansion-panel-header>    
    <div *ngFor="let customer of customers">
      <a (click)=custlink()>{{customer.cust_view_name}}</a>
    </div>
    
  </mat-expansion-panel>  
</mat-accordion>